
<div class="carousel-zone">
    <!--   <div class="shutter" shutter-case="{shutterW: 1000 , shutterH: 358, isAutoPlay:true,
       playInterval:3000, curDisplay:3, fullPage:false}">-->
    <div class="shutter">
        <div class="shutter-img">
            <a href="#" data-shutter-title="轮播1"><img src="../img/home/h-banner.png" alt="#"></a>
            <a href="#" data-shutter-title="轮播2"><img src="../img/shutter_2.jpg" alt="#"></a>
            <a href="#" data-shutter-title="轮播3"><img src="../img/shutter_3.jpg" alt="#"></a>
            <a href="#" data-shutter-title="论播4"><img src="../img/shutter_4.jpg" alt="#"></a>
        </div>
        <ul class="shutter-btn">
            <li class="prev"></li>
            <li class="next"></li>
        </ul>
        <div class="shutter-desc">
            <p>轮播1</p>
        </div>
    </div>
</div>

<div ui-view></div>
