<!--产品服务zone，属于首页和产品服务模块-->
<div class="product_service_zone">
    <p style="font-size: 35px">产品服务区域</p>
    <div class="product-list row">
        <div class="col product-list-one" ng-click="goState('detail')"></div>
        <div class="col product-list-two" ng-click="goState('detail')"></div>
        <div class="col product-list-three" ng-click="goState('detail')"></div>
        <div class="col product-list-four" ng-click="goState('detail')"></div>
    </div>
</div>

<!--产品优势zone，属于首页和产品服务模块-->
<div class="product_advan_zone">
    <p style="font-size: 35px">产品优势区域</p>
</div>
