.footer_panel{
    width: 85%;
    margin: 0 auto;
    height: 220px;
    margin-top: 90px;
    min-width: 1080px;
}
.footer_panel_title{
    font-size: 16px;
    color: #ebebeb;
}
.footer_panel_title_list{
    margin-top: 40px;
}
.footer_panel_title_list p a{
    color: #999999;
    font-size: 13px;
    margin-top: 10px;
}
.companyBox{
    color: #ebebed;
}
.QRcode{
    text-align: center;
}
.company_msg{
}
.QRcodeImg{
    width: 90px;
    height: 90px;
    /*background: url("../img/qrcode_for_gh_fc2e6e3c42f5_1280.jpg") no-repeat;*/
    background-size: 100% 100%;
    margin: 0 auto;
}
.QRcodeImg img{
    width: 100%;
    height: 100%;
}
.company_name{
    font-size: 16px;
}
.company_Ename{
    letter-spacing: 3px;
}
.company_ads{
    padding: 20px 0 5px 0;
    border-bottom: 1px solid #ebebed;
}
.company_link_box{
    margin-top: 20px;
}
.company_link a{
    color: #ebebed;
}
.company_link{
    margin: 0 5px;
}