
<!--产品服务zone，-->
<div class="product-service-zone">
    <p style="font-size: 35px">产品服务区域</p>
    <div class="product-list row">
        <div class="col product-list-one" ng-click="goState('detail')"></div>
        <div class="col product-list-two" ng-click="goState('detail')"></div>
        <div class="col product-list-three" ng-click="goState('detail')"></div>
        <div class="col product-list-four" ng-click="goState('detail')"></div>
    </div>
</div>


<div>githup</div>

<!--产品优势zone，-->
<div class="product-advan-zone">
    <p style="font-size: 35px">产品优势区域</p>
</div>

<!--解决方案zone，-->
<div class="h-solution-zone">
    <p style="font-size: 35px">解决方案区域</p>
</div>

<!--行业优势zone，-->
<div class="h-industry-advan-zone">
    <p style="font-size: 35px">行业优势区域</p>
</div>


<!--合作伙伴zone，-->
<div class="h-partner-zone">
    <p style="font-size: 35px">合作伙伴区域</p>
</div>
