/*   *   *    *   *   * index [start]*   *   *    *   *   */
/*   menus  */
.menus{
  position:fixed;
  width:100%;
  height:60px;
  background-color:#333;
}
.custom{
  width:40%;
  margin:0 auto;
  padding-top: 10px;
}
.mark{
  font-size:30px;
  font-family: '微软雅黑';
  color:blue;
}

/*   footer  */
.footer{
  width:100%;
  height:400px;
  background-size:100%;
  background: #333333;
  overflow-x: auto;
}
/*   *   *    *   *   * index [end] *   *   *    *   *   */

/*   *   *    *   *   * layout-base[start]轮播 *   *   *    *   *   */
.carousel-zone{
  width:100%;
  height:400px;
  background-image:url('../img/carousel2.jpg');
  background-size:100%;
}
/*   *   *    *   *   * layout-base[end]轮播 *   *   *    *   *   */

/*   *   *    *   *   * 产品服务-产品优势【首页，产品服务】 [start]*   *   *    *   *   */
/* 【首.产】产品服务区域 */
.product-service-zone{
  width:100%;
  height:400px;
  background-image:url('../img/1.png');
  background-size:100%;
}
.product-list{
  width:65%;
  height:180px;
  margin:0 auto;
  margin-top:120px;
}
* {box-sizing: border-box;}
.product-list .col {
  float: left;
  width: 20%;
  margin-left:4%;
  height:150px;
}
.product-list .col:hover {
  margin-left:5%;
  height:160px;
  margin-top:-5px;
}

.product-list-one{
  background-image:url('../img/home/1.jpg');
  background-size:100%;
}
.product-list-two{
  background-image:url('../img/home/2.jpg');
  background-size:100%;
}
.product-list-three{
  background-image:url('../img/home/3.jpg');
  background-size:100%;
}
.product-list-four{
  background-image:url('../img/home/4.jpg');
  background-size:100%;
}

/* 【首.产】产品优势区域 */
.product-advan-zone{
  width:100%;
  height:400px;
  background-image:url('../img/2.png');
  background-size:100%;
}
/*   *   *    *   *   * 产品服务-产品优势【首页，产品服务】[end]*   *   *    *   *   */

/*   *   *    *   *   * 首页home [start]*   *   *    *   *   */
/* 【首页】-解决方案区域 */
.h-solution-zone{
  width:100%;
  height:400px;
  background-image:url('../img/carousel2.jpg');
  background-size:100%;
}
/* 【首页】-行业优势区域 */
.h-industry-advan-zone{
  width:100%;
  height:400px;
  background-image:url('../img/carousel3.jpg');
  background-size:100%;
}
/* 【首页】-合作伙伴区域 */
.h-partner-zone{
  width:100%;
  height:400px;
  background-image:url('../img/carousel.jpg');
  background-size:100%;
}
/*   *   *    *   *   * 首页home [end]*   *   *    *   *   */

/*   *   *    *   *   * 产品服务 [start]*   *   *    *   *   */
/* 【产品服务】-家具团购zone */
.p-furniture-zone{
  width:100%;
  height:400px;
  background-image:url('../img/carousel3.jpg');
  background-size:100%;
}
/* 【产品服务】-智慧门店zone */
.p-wisdom_zone{
  width:100%;
  height:400px;
  background-image:url('../img/carousel2.jpg');
  background-size:100%;
}
/*   *   *    *   *   * 产品服务 [end]*   *   *    *   *   */

/*   *   *    *   *   * 解决方案 [start]*   *   *    *   *   */

/* 【解决方案】-快递物流zone */
.s-delivery-zone{
  width:100%;
  height:400px;
  background-image:url('../img/carousel.jpg');
  background-size:100%;
}
/* 【解决方案】-机场管理 */
.s-airport-mgt-zone{
  width:100%;
  height:400px;
  background-image:url('../img/carousel3.jpg');
  background-size:100%;
}
/* 【解决方案】-铁路系统 */
.s-railway-sys-zone{
  width:100%;
  height:400px;
  background-image:url('../img/carousel2.jpg');
  background-size:100%;
}
/*   *   *    *   *   * 解决方案 [end]*   *   *    *   *   */

/*   *   *    *   *   * 新闻动态 [start]*   *   *    *   *   */
/* 【新闻动态】-公司新闻 */
.n-enterprise-news-zone{
  width:100%;
}
.common_title-box{
  width: 85%;
  min-width: 1080px;
  margin: 50px auto;
  height: 50px;
  line-height: 50px;
}
.common_title-name{
  border-left: 4px solid #0d8ddb;
  padding-left: 8px;
  color: #333333;
  font-size: 18px;
}
.common_title-name-e{
  color: #333333;
  font-size: 12px;
  word-spacing: 5px;
}
.n-enterprise-news-box{
  width: 100%;
  height: 400px;
  background-image:url('../img/n-1.png');
  background-size:100%;
}


/* 【新闻动态】-行业新闻 */
.info{
  width: 100%;
}
.n-industry-news-zone{
  width:100%;
}
.n-industry-news-box{
  width: 85%;
  min-width: 1080px;
  margin: 20px auto;
  height: auto;
}
.n-industry-news{
  width: 100%;
  margin-bottom: 50px;
  box-shadow:  0 2px 15px 1px black;
  -webkit-box-shadow: 0 2px 15px 1px black;
  -ms-box-shadow: 0 2px 15px 1px black;
  -moz-box-shadow: 0 2px 15px 1px black ;
  -o-box-shadow: 0 2px 15px 1px black;
}
.noB-n-industry-news{
  width: 100%;
  margin-bottom: 50px;
  border: 1px solid #999999;
}
.n-panel-heading{
  padding: 5px 30px;
  background: #757575;
  color: whitesmoke;
}
.n-panel-body{
  padding: 15px 30px;
  color: #333333;
}
/*.n-industry-news:hover{*/
  /*box-shadow:  0 2px 15px 1px black;*/
  /*-webkit-box-shadow: 0 2px 15px 1px black;*/
  /*-ms-box-shadow: 0 2px 15px 1px black;*/
  /*-moz-box-shadow: 0 2px 15px 1px black ;*/
  /*-o-box-shadow: 0 2px 15px 1px black;*/
/*}*/

/*   *   *    *   *   * 新闻动态 [end]*   *   *    *   *   */

/*   *   *    *   *   * 合作伙伴 [start]*   *   *    *   *   */
/* 【合作伙伴】-合作伙伴 */
.c-partner-zone{
  width:85%;
  height: auto;
  margin: 0 auto;
  min-width: 1080px;

}
.c-partne{
  height: 180px;
  border-right: 1px solid #999999;
  margin-bottom: 50px;
  background: url("../img/c-ally.png");
  background-size: 100% 100%;
}
/* 【合作伙伴】-营销网络 */
.c-businessmap-zone{
  width:100%;
  height:500px;
  background-image:url('../img/c-businessmap.png');
  background-size:100% 100%;
  margin-bottom: 100px;
  min-width: 1080px;
}
.c-business-map{
  width: 85%  ;
  height: auto;
  margin: 0 auto;
  min-width: 1080px;
}
.c-business-list-box{
  height: 400px;
}
.c-business-list{
  width: 100%;
  height: 100px;
  /*background: red;*/
  margin-bottom: 30px;
}
.c-business-list-icon{
  display: inline-block;
  width: 100px;
  height: 100%;

  margin-right: 15px;
}
.c-business-list-icon1{
  background: url("../img/c-icon3.png");
  background-size: 100% 100%;
}
.c-business-list-icon2{
  background: url("../img/c-icon2.png");
  background-size: 100% 100%;
}
.c-business-list-icon3{
  background: url("../img/c-icon1.png");
  background-size: 100% 100%;
}
.c-business-list-msg{
  width: 300px;
  height: 100%;
  color: #f0f0f0;
}
.c-business-list-msg-title{
  height: 50px;
  line-height: 50px;
}
.c-business-list-msg-main{
  width: 100%;
  height: 50px;
  overflow: hidden;
}

/*   *   *    *   *   * 合作伙伴 [end]*   *   *    *   *   */

/*   *   *    *   *   * 关于我们 [start]*   *   *    *   *   */
/* 【关于我们】-企业简介 */
.a-introduction-zone{
  width:100%;
  height:400px;
  background-image:url('../img/carousel3.jpg');
  background-size:100%;
}
/* 【关于我们】-企业愿景 */
.s-vision{
  width:100%;
  height:400px;
  background-image:url('../img/carousel2.jpg');
  background-size:100%;
}
/* 【关于我们】-企业核心价值 */
.s-core-value-zone{
  width:100%;
  height:400px;
  background-image:url('../img/carousel.jpg');
  background-size:100%;
}
/* 【关于我们】-联系我们 */
.s-contact-us-zone{
  width:100%;
  height:400px;
  background-image:url('../img/carousel3.jpg');
  background-size:100%;
}
/*   *   *    *   *   * 关于我们 [end]*   *   *    *   *   */




